 /* .container {
     border: 1px solid black;
 } */

 .header__top {
     background: linear-gradient(90deg, #3adc49 0%, #006943 100%);
     max-width: 100vw;
     color: #ffffff;
 }

 .header__top--wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header__top_location {
     display: flex;
     gap: 10px;
 }

 .header__top_phone {
     display: flex;
     align-items: center;
     gap: 10px;
     display: none;
 }

 .header__top_phone_chevron {
     display: flex;
     align-items: center;
 }

 .header__top_menu--wrapper {
     display: flex;
     align-items: center;
 }

 .header__top_menu_list {
     display: flex;
     padding: 0;
     margin: 0;
 }

 .header__top_menu_item {
     padding: 20px 30px;
     display: flex;
     align-items: center;
 }

 .header__top_menu_button {
     width: 25px;
     height: 16px;
     margin: 20px 30px;
     display: flex;
     position: relative;
     align-items: center;
     justify-content: flex-end;
 }

 .header__top_menu_button>span {
     height: 2px;
     width: 80%;
     background-color: #ffffff;
 }

 .header__top_menu_button::before,
 .header__top_menu_button::after {
     content: "";
     position: absolute;
     height: 3px;
     width: 100%;
     background-color: #ffffff;
 }

 .header__top_menu_button::after {
     top: 0;
 }

 .header__top_menu_button::before {
     bottom: 0;
 }

 .dropdown {
     position: relative;
 }

 .dropdown-menu {
     background-color: rgb(53, 53, 53);
     padding: 20px;
     position: absolute;
 }

 .header__top_dropdown-item {
     color: #ffffff;
 }

 /* HEADER-BOTTOM */

 .header__bottom--wrapper {
     display: flex;
     align-items: center;
     margin: 50px 0;
     justify-content: space-between;
 }

 .header__bottom_logo {
     display: flex;
     align-items: center;
 }

 .header__bottom_logo-line {
     width: 71px;
     height: 1px;
     transform: rotate(-90deg);
 }

 .header__bottom_form {
     display: flex;
     position: relative;
 }

 .header__bottom_input {
     padding: 10px 20px;
     width: 318px;
     height: 44px;
     border: 1px solid silver;
 }

 .header__bottom_input_button {
     position: absolute;
     right: 15px;
     top: 10px;
 }

 .header__bottom_social {
     display: flex;
     gap: 50px;
 }

 .header__bottom_phone {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 @media (max-width:565px) {
     .header__bottom_logo {
         flex-direction: column;
         text-align: center;
     }

     .header__bottom_logo-line {
         width: 230px;
         transform: rotate(0);

     }
 }

 @media (max-width:992px) {
     .header__top_menu_list {
         display: none;
     }

     .header__top_location {
         display: none;
     }

     .header__top_phone {
         display: flex;
     }

     .header__bottom--wrapper {
         flex-direction: column;
         gap: 30px;
         margin: 30px 0;
     }
 }

 @media (max-width:1400px) {

     .header__bottom_social,
     .header__bottom_mode {
         display: none;
     }
 }

 @media (max-width:1200px) {
     .header__bottom_phone {
         display: none;
     }
 }