 /* .container {
     border: 1px solid black;
 } */

 .header__top {
     background: linear-gradient(90deg, #3adc49 0%, #006943 100%);
     max-width: 100vw;
     color: #ffffff;
 }

 .header__top--wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header__top_location {
     display: flex;
     gap: 10px;
 }

 .header__top_phone {
     display: flex;
     align-items: center;
     gap: 10px;
     display: none;
 }

 .header__top_phone_chevron {
     display: flex;
     align-items: center;
 }

 .header__top_menu--wrapper {
     display: flex;
     align-items: center;
 }

 .header__top_menu_list {
     display: flex;
     padding: 0;
     margin: 0;
 }

 .header__top_menu_item {
     padding: 20px 30px;
     display: flex;
     align-items: center;
 }

 .header__top_burger-button {
     display: flex;
     position: relative;
     align-items: center;
     justify-content: end;
     padding: 0;
     width: 24px;
     height: 20px;
     cursor: pointer;
     margin: 20px 30px;
 }

 .header__top_burger {
     width: 18px;
     height: 3px;
     background-color: #ffffff;
 }

 .header__top_burger::after,
 .header__top_burger::before {
     content: "";
     position: absolute;
     width: 24px;
     height: 3px;
     background-color: #ffffff;
 }

 .header__top_burger::after {
     top: 0;
     right: 0;
 }

 .header__top_burger::before {
     bottom: 0;
     right: 0;
 }

 .header__top_dropdown--wrapper {
     background-color: black;
     padding: 50px;
 }

 .header__dropdoun_item {
     display: flex;
 }

 .header__dropdoun_item a {
     color: #ffffff;
 }

 /* HEADER-BOTTOM */

 .header__bottom--wrapper {
     display: flex;
     align-items: center;
     margin: 50px 0;
     justify-content: space-between;
 }

 .header__bottom_logo {
     display: flex;
     align-items: center;
 }

 .header__bottom_logo-line {
     width: 71px;
     height: 1px;
     transform: rotate(-90deg);
 }

 .header__bottom_form {
     display: flex;
     position: relative;
 }

 .header__bottom_input {
     padding: 10px 20px;
     width: 318px;
     height: 44px;
     border: 1px solid silver;
     border-radius: 10px;
 }

 .header__bottom_input_button {
     position: absolute;
     right: 15px;
     top: 10px;
 }

 .header__bottom_social {
     display: flex;
     gap: 50px;
 }

 .header__bottom_phone {
     display: flex;
     align-items: center;
     gap: 10px;
 }



 @media (max-width:1440px) {
     .header__bottom_social {
         display: none;
     }
 }

 @media (max-width:1400px) {


     .header__bottom_mode {
         display: none;
     }

     .header__bottom--wrapper {
         margin: 30px 0;
     }
 }

 @media (max-width:1200px) {
     .header__bottom_phone {
         display: none;
     }
 }

 @media (max-width:992px) {
     .header__top_menu_list {
         display: none;
     }

     .header__top_location {
         display: none;
     }

     .header__top_phone {
         display: flex;
     }

     .header__bottom--wrapper {
         flex-direction: column;
         gap: 30px;
         margin: 30px 0;
     }
 }

 @media (max-width:565px) {
     .header__bottom_logo {
         flex-direction: column;
         text-align: center;
     }

     .header__bottom_logo-line {
         width: 230px;
         transform: rotate(0);

     }
 }