.gallery--wrapper {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.gallery__images--wrapper {
    display: flex;
    overflow: auto;
    padding: 0;
}

.gallery__img--wrapper {
    min-width: 270px;
    display: flex;
    min-height: 325px;
    margin-right: 42.5px;
    position: relative;
    border-radius: 20px;
    overflow: auto;
}

.gallery__img--wrapper::-webkit-scrollbar {
    display: none;
}

.gallery__img--wrapper:nth-child(5) {
    margin-right: 0;
}

.gallery__img,
.gallery__img_fogging {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
}

.gallery__img {
    object-fit: cover;
    transition: .4s;
}

.gallery__img_fogging {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.gallery__images--wrapper::-webkit-scrollbar {

    display: none;
}

.gallery__img--wrapper:hover .gallery__img_fogging {
    display: none;
}

.gallery__img--wrapper:hover .gallery__img {
    transform: scale(1.15);
}

@media (max-width:991.98px) {
    .gallery__img--wrapper {
        margin-right: 15px;
    }

}