 @font-face {
     font-family: "noto_sans";
     src: url(../fonts/SansNormal/NotoSans-Regular.ttf);
 }

 @font-face {
     font-family: "myriad_pro";
     src: url(../fonts/myriad/Myriad_Pro.ttf);
 }

 @font-face {
     font-family: "futuris";
     src: url(../fonts/futuris/futuris.ttf);
 }

 header {
     margin-bottom: 50px;
 }

 section {
     margin-bottom: 50px;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 button,
 a,
 p {
     font-family: "noto_sans";
 }

 h1,
 h2 {
     font-size: 45px;
 }


 /* buttons */
 .call-a-designer1,
 .call-a-designer2 {
     width: 254px;
     height: 67px;
     border: none;
     font-size: 20px;
     color: #ffffff;
     border-radius: 10px;

 }

 .call-a-designer1 {
     background: linear-gradient(90deg, #26b447 0%, #006943 100%);
 }

 .call-a-designer2 {
     background: linear-gradient(90deg, #3adc49 0%, #26b447 45.82%, #006943 100%);
 }

 .services__button {
     width: 210px;
     height: 50px;
     border: none;
     display: flex;
     color: #ffffff;
     padding: 15px 70px;
     border-radius: 10px;
     align-items: center;
     background: rgba(255, 255, 255, 0.18);

 }

 .button-details1 {
     width: 151px;
     height: 64px;
     padding: 20px;
     font-size: 20px;
     color: #ffffff;
     border-radius: 10px;
     border-color: #ffffff;
     background-color: inherit;
 }

 .button-details2 {
     width: 105px;
     height: 35px;
     color: #26B447;
     border-radius: 10px;
     border-color: #d9d9d9;
     background-color: inherit;
 }

 /* buttons end */

 /* links */
 .link-green {
     font-size: 15px;
     color: #26b447;
     text-decoration: underline;
 }

 @media (max-width:991.98px) {
     h2 {
         font-size: 35px;
     }

     header,
     section {
         margin-bottom: 30px;
     }

     .services,
     .news--wrapper,
     .about__left,
     .gallery {
         text-align: center;
     }

     .button-details1 {
         width: 290px;
         height: 64px;
         align-items: center;
         padding: 0;
     }
 }